.navbar{
    width: 100%;
    height: 20vh;
    display: grid;
    place-content: center;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

li{
    cursor: pointer;
}

a{
    text-decoration: none;
}