@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*///// colors ///////

orange: #ff7c1a
blue: #1a66ff

///////////////////*/

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    scroll-padding: 60.797px;
	overflow-x: hidden;
    @apply bg-slate-100 min-h-screen text-slate-900
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav ul li {
    -webkit-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    -o-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

@layer components {

	.navBarFlexBox {
		@apply flex justify-between items-center px-12 h-full
	}

	.dropdownMenu {
		opacity: 0;
		transform: translateY(-10px);
		transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
		z-index: 10;
		pointer-events: none;
	}

	.dropdown:hover .dropdownMenu {
		pointer-events: auto;
		opacity: 1;
		transform: translateY(0);
	}

	.btnNav:focus + .dropdownMenu {
		pointer-events: auto;
		opacity: 1;
		transform: translateY(0);
	}

	.dropdownArrow {
		transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
	}

	.dropdown:hover .dropdownArrow {
		@apply rotate-0
	}

	.btnNav:focus + .dropdownArrow {
		@apply rotate-0
	}

	.cartIconShadow {
		filter: drop-shadow(0.125rem 0.125rem 0.1rem rgba(255, 255, 255, 0.7));
	}

	.heroH1 {
		text-shadow: 0.125rem 0.125rem 0 #ff7f3a;
	}

	.heroImg svg {
			width: 45rem;
			position: absolute;
			right: -225px;
			top: 0;
			transform: rotate(-60deg);
	}

	.itemListContainer, .itemDetailContainer, .cartItemContainer, .CartModalFormContainer {
		min-height: calc(100vh - 96px);
	}

	.cardImg {
		filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.3));
	}

	.itemCard {
		transition: all 150ms ease;
		position: relative;
	}

	.gridCardLine {
		@apply w-full h-[2px] bg-[#cbd5e1] mb-2 rounded-full
	}

	.listCardLine {
		@apply h-[160px] w-[2px] bg-[#cbd5e1] rounded-full mr-1
	}
	
	.itemCard:hover > .gridCardLine {
		@apply bg-[#ff7c1a] h-[2.5px]
	}

	.itemCard:hover > .listCardLine {
		@apply bg-[#ff7c1a] w-[2.5px]
	}

	.itemCard:hover > span, .itemCard:hover > div > span {
		@apply text-[#1a66ff]
	}

	.itemDetailH1 {
		text-shadow: 0.135rem 0.135rem 0.05rem #0f172af7;
	}

	.itemDetailtextShadow {
		text-shadow: 0.08rem 0.08rem 0.08rem #0f172aab;
	}

	.cartH1 {
		text-shadow: 0.075rem 0.075rem 0.05rem #ff7f3a;
	}

	.formContainer {
		animation: fadeInLeft 250ms linear forwards;
		@apply relative bg-slate-200 rounded-md py-6 px-10 mt-10 grid place-items-center
	}

	.formContainer.active {
		animation: fadeOutLeft 250ms linear forwards;
		@apply relative bg-slate-800
	}

	@media only screen and (min-width: 2100px) {
		.xlContainer {
			@apply px-96
		}

		.navBarFlexBox {
			@apply px-96
		}
	}
	
	@media only screen and (min-width: 1800px) and (max-width: 2100px) {
		
		.xlContainer {
			@apply px-72
		}

		.navBarFlexBox {
			@apply px-72
		}
	}

	@media only screen and (min-width: 1500px) and (max-width: 1800px) {
		
		.xlContainer {
			@apply px-20
		}

		.navBarFlexBox {
			@apply px-20
		}

		.heroImg svg {
			right: -50px;
		}
	}

	@media only screen and (max-width: 1180px) {

		.heroImg svg {
			top: -30px;
			right: -375px;
			transform: rotate(-75deg);
		}
	}

	@media only screen and (max-width: 1050px) {

/* 		.heroImg svg {
			top: -100px;
			right: -475px;
			transform: rotate(-90deg);
		} */
	}
	
	@media only screen and (max-width: 980px) {

		.heroImg svg {
			top: -100px;
			right: -475px;
			transform: rotate(-90deg);
		}
	}

	@media only screen and (max-width: 830px) {

		.heroImg svg {
			display: none;
		}
	}

	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			left: -50px;
		}
		50% {
			opacity: 0.5;
			left: -25px;
		}
		100% {
			opacity: 1;
			left: 0;
		}
	}

	@keyframes fadeOutLeft {
		0% {
			opacity: 1;
			left: 0px;
		}
		50% {
			opacity: 0.5;
			left: -25px;
		}
		100% {
			opacity: 0;
			left: -50px;
		}
	}
}